NODE_ENV=development
PORT=3000

DATABASE_URL="postgresql://postgres:postgres@localhost:5434/ecommerce?schema=public"

#change it
JWT_SECRET="your-super-secret-key-minimum-32-characters-long-change-this-in-production"
JWT_EXPIRATION=15m

REFRESH_TOKEN_EXPIRATION=7d

#miliseconds
RESET_PASSWORD_TOKEN_EXPIRATION=10m

CORS_ORIGIN=*

#aws
AWS_S3_REGION=your-region
AWS_S3_BUCKET=your-bucket-name
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key

#email
SENDGRID_API_KEY="your-sendgrip-api-key"
SENDGRID_FROM_EMAIL="your-email@example.com"

#stripe
STRIPE_SECRET_KEY="your-stripe-secret-key"
STRIPE_WEBHOOK_SECRET="your-wehbook-secret"

#rate limit
THROTTLE_SHORT_TTL=1000
THROTTLE_SHORT_LIMIT=3
THROTTLE_MEDIUM_TTL=10000
THROTTLE_MEDIUM_LIMIT=20
THROTTLE_LONG_TTL=60000
THROTTLE_LONG_LIMIT=100

#redis
REDIS_URL="redis://localhost:6379"
